$timeline-widget-border-radius: 3px;
$timeline-widget-border-color: $blue-gray;
$timeline-widget-comment-border-color: $silver;

.timeline-widget {
    max-width: 575px;
    width: 100%;
    padding: 16px;
    border: 1px solid $timeline-widget-border-color;
    border-radius: $timeline-widget-border-radius;
    box-shadow: 1px 1px 19px 0px $bone-white;

    textarea {
        width: 100%;
        border-radius: $timeline-widget-border-radius;
        border-color: $timeline-widget-comment-border-color;
        resize: none;
    }
}
