.with-sidebar {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    margin-top: 54px;

    // TODO: remove this when widgets are available
    /*.sidebar > * {*/
        /*opacity: .25;*/
    /*}*/

    .sidebar {
        border-right: 1px solid $bone-white;
        margin-right: 32px;
        padding-right: 22px;
        width: 100%;
        max-width: 300px;
    }

    .page-content {
        width: 100%;
    }
}
