.AboutView {
    padding-bottom: 50px;
    position: relative;

    .content-wrapper {
        max-width: 1440px;
        width: 100%;
        position: relative;
        padding-left: 30%;
        margin-bottom: 30px;
        padding-top: 75px;

        @include mq(tablet) {
            padding-top: 30px;
        }
    } 

    .resume-download {
        color: $slate;
        border-radius: 0;
        border-color: $slate;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        @include mq(tablet) {
            right: 30px;
            top: 0;
            left: inherit;
            transform: none;
        }
    }

    hr {
        border: 0 none;
        border-bottom: 1px solid $bone-white;
    }

    .entry-group {
        max-width: 780px;
        border-spacing: 10px;
        table-layout: fixed;
        width: 70%;

        .left {
            width:30%;
            padding-right: 50px;
            color: $gray;

            &.top {
                vertical-align: top;
                padding-top: 20px;

                & + .right {
                    padding-top: 20px;
                }
            }
        }

        .right {
            width: 70%;
            position: relative;
            padding-left: 50px;
        }

        &.border .left {
            border-right: 1px solid $bone-white;
        }

        tr:first-child {
            .top {
                vertical-align: top;
                padding-bottom: 40px;

                & + .right {
                    padding-bottom: 40px;
                }
            }
        }

        td {
            font-size: 16px;
        }

        p {
            font-size: 14px;
            color: $darkness;
            margin-bottom: 0;
        }

        span.highlight {
            color: $slate;
        }
    }

    i.social {
        color: $gray !important;
        padding-right: 15px;
    }
}
