.BasicInformationView {

    .country-code {
        width: 5em;
    }

    .react-tel-input {
        width: 100%;

        input[type='tel'] {
            height: inherit;
            background-clip: padding-box;
            background-color: #fff;
            border: 1px solid #ced4da;
            box-shadow: none;
            padding: 0.375rem 0.75rem;
            padding-left: 44px;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .flag-dropdown {
            background-color: white;

            .selected-flag {
                top: 50%;
                transform: translateY(-50%);
            }

            .country-list {
                top: 100%;
            }
        }
    }
}
