.UserEditView {

    .heading-wrapper {
        margin-bottom: 40px;

        .heading {
            font-size: 20px;
            font-weight: 300;
            color: #141414;
            margin-bottom: 0;
        }

        hr {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }

    // bootstrap-related grid padding adjustment
    [class*='col-'] {
        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;
        }
    }

    // forms
      .form-group {
        margin-bottom: 27px;

        .inline {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .form-control-label {
            color: $graphite;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 10px;
        }

        select.form-control,
        input.form-control {
            border-radius: 3px;
            color: #141414;
            font-size: 14px;

            &::placeholder {
                color: $light-gray;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    .submission-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 26px;

        .alert-wrapper {
            margin-right: 16px;

            .alert {
                // reset
                margin-bottom: 0;
            }
        }

        .btn {
            $height: 34px;

            color: $white;
            background-color: $wtf-red;
            border: 0 none;
            border-radius: 0;
            font-size: 14px;
            height: $height;
            line-height: $height;
            padding: 0 33px;
            transition: all .3s;

            &:hover {
                background-color: darken($wtf-red, 5%);
            }

            &:active {
                background-color: darken($wtf-red, 25%);
            }

            &.add-experience-button {
              background-color: $white;
              border: solid $wtf-red 2px;
              color: $wtf-red;
              line-height: $height;

              &:hover {
                  background-color: $wtf-red;
                  color: $white;
              }
            }
        }
    }

    .dropdown-menu {
        &.show {
            max-height: 40em;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
}
