.LoginView {
    display: flex;
    justify-content: center;
    align-items: center;

    .left,
    .right {
        position: relative; 
        height: 100vh;
        max-width: 640px;
        width: 100%;
    }

    .left { 
        $width: 560px;
        $tablet-padding: 90px;
        $mobile-padding: 30px;
        $tablet-margin: 80px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
        max-width: $width;

        @include mq(tablet) {
            width: $width;
            margin-right: $tablet-margin;
            margin-left: $tablet-margin;
        }

        .content-wrapper {
            width: 100%;
            max-width: $width - $mobile-padding;

            @include mq(tablet) {
                width: $width - $tablet-padding;
            }
        }

        .title {
            width: 100%;

            .logo {
                img {
                    width: 75px;
                } 
            }

            .tagline {
                font-weight: 500;
                margin-top: 5px;
                font-size: 16px;
            }
        }

        .form-wrapper {
            padding-bottom: 27px;
            width: 100%;

            @include mq(tablet) {
                padding-left: 50px;
                padding-right: 50px;
            }

            .login-form {
                border-top: 1px solid $navy-gray;
                margin-top: 20px;
                padding-top: 30px;

                .form-group:last-of-type {
                    margin-top: -5px;
                }

                input {
                    border-radius: 0;
                    border-color: $polished-gray;

                    &::placeholder {
                        font-size: 16px;
                        color: $gray;
                    }
                }

                .forgot {
                    font-size: 12px;
                    font-weight: 400;
                    color: $gunmetal-gray;
                    text-align: right;
                    width: 100%;
                    display: inline-block;
                }

                .submit {
                    background-color: $wtf-red;
                    color: $white;
                    text-transform: uppercase;
                    border: 0 none;
                    margin-top: 20px;
                    clear: both;

                    &:hover {
                        background-color: darken($wtf-red, 5%);
                    }
                }
            }
        } 

        .alternate-options {
            color: $slate-gray;
            width: 100%;

            .divider {
                width: 100%;
                display: flex;
                align-items: center;

                .line {
                    background-color: $slate-gray;
                    height: 1px;
                    width: 100%;
                }

                .text {
                    text-align: center;
                    padding-left: 15px;
                    padding-right: 15px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: white;
                    padding: 0 15px 0 15px;

                }
            }

            .social-options {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 26px;

                img:not(:last-of-type) {
                    margin-right: 32px;
                }
            }

            .register {
                margin-top: 29px;
                text-align: center;

                a {
                    color: $slate-gray;
                }
            }
        }

        .copyright {
            color: $slate-gray;
            text-align: center;
            justify-self: flex-end;
            position: absolute;
            bottom: 40px;
        }
    }

    .right {
        background-image: url(../assets/images/login-collage.jpg);
        display: none;
        background-repeat: no-repeat;

        @include mq(tablet) {
            display: block;
        }
    }
}
