.LookbookImage {
    img {
        width: 100%;

        @include mq(tablet) {
            margin-top: 25px;
        }
    }
}

.LookbookDetailsMeta {
    $left-width: 224px;
    color: $slate-gray;
    font-weight: 300;

    .content-wrapper {
        .heading {
            @extend %heading;
        }
    }

    // RevealText has nested p, either combo is possible, exclusively
    p.description, 
    .description p {
        color: $graphite;
        line-height: 1.4;
        letter-spacing: .3px;
        margin-bottom: 10px;
    }

    .category {
        $height: 38px;
        height: $height;
        line-height: $height;
        padding-left: 13px;
        border: 1px solid $silk-white;
        margin-bottom: 26px;
        width: 224px;

        span {
            color: $slate;
        }
    }

    .Tags {
        width: $left-width;

        .heading {
            padding-bottom: 0;
        }
        .tags {
            line-height: 2.1;
            margin-bottom: 26px;
        }
    }

    .Licenses {
        border-top: 1px solid $silk-white;
        padding-top: 20px;

        img {
            opacity: .35;
            width: 16px;
            margin-right: 9px;
        }
    }
}


