.LookbookView {
    ul {
        margin: 0 auto;
        list-style: none;
    }

    .upload-button {
        display: block;
        width: 140px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
}

