.MessagesView {
    max-width:980px;
    margin:0 auto;

      .react-autosuggest__container {
        position: relative;
      }
      
      .react-autosuggest__input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 0.85rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      
      .react-autosuggest__input--focused {
        outline: none;
      }
      
      .react-autosuggest__input--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      
      .react-autosuggest__suggestions-container {
        display: none;
      }
      
      .react-autosuggest__suggestions-container--open {
        display: block;
        position: absolute;
        width: 100%;
        max-height: 280px;
        overflow-y: auto;
        z-index: 2;

        padding: 0.375rem 0.75rem;
        font-size: 0.85rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        box-shadow: 0 1px 2px #666;
      }
      
      .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      
      .react-autosuggest__suggestion {
        cursor: pointer;
        padding: 10px 20px;
      }
      
      .react-autosuggest__suggestion--highlighted {
        /*background-color: #ddd;*/
      }
      


    .nav {
        display: flex;
        justify-content: left;
        width: 100%;

        li {
            list-style: none;
            font-size: 18px;
            color: $gray;
            font-weight: 400;

            padding:10px 10px 0 10px;

            &.active {
                color: $emperor;
            }
        }
    }
    .ConversationMessagesList {
        margin-top:15px;
    }
    .MessageEntry {
        .media-body .bubble {
            border:solid 1px red;
            border-radius:3px;
            display:inline-block;
            padding: 2px 5px;
        }
        &.light {
            .media-body .bubble {
                color:black;
                background-color:white;
            }
        }
        &.dark {
            .media-body .bubble {
                color:white;
                background-color:red;
            }
        }
    }
    .MessageEntry, .UserEntry, .ConversationEntry {
        display: flex;
        align-items: center;

        &:not(:first-of-type) {
            margin-top: 24px;
        }

        .avatar-image {
            width: 55px;
            height: 55px;
        }

        .media-left {
            margin-right: 24px;
        }

        .media-body {
            padding-right: 24px;
        }

        .fullname-wrapper {
            display: flex;

            font-size: 16px;
            font-weight: 300;
            line-height: 1;
        }

        .media-heading {
            margin-bottom: 0;
        }

        .online-wrapper {
            margin-left: 7px;
        }

        .ProBadge img {
            width: 24px;
            margin-left: 10px;
        }

        .meta {
            font-size: 12px;
            color: $gray;
        }
    }
}