.NotificationView {
    @extend .with-sidebar;

    .NotificationList {
        margin-top: 18px;
    }

    .page-content {
        max-width: 672px;

        .heading {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 0;
        }
    }

    .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    //TODO: put this in the UserEdit notifications options styles
    /*width: 75%;*/

    /*.check-box-label {*/
        /*color: #999999;*/

    /*}*/

    /*.row {*/
        /*display: flex;*/
        /*justify-content: space-around;*/
    /*}*/

    /*.checkbox-heading {*/
        /*font-size: 15px;*/
        /*// font-weight: 300;*/
        /*color: #999999;*/
    /*}*/

    /*.toggle-hr {*/
        /*height: 1px;*/
        /*background-color: #999999;*/
    /*}*/

}
