.ProjectDetailsView {
    width: 100%;

    & > .heading {
        @extend %heading;
        margin-bottom: 0;
    }
}

.DetailsImages {
    @include mq(tablet) {
        margin-top: 25px;
    }

    .image-wrapper {
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 27px;
        }

        img {
            width: 100%;
        }
    }
}

.DetailsActions {
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 10px;
    justify-content: space-between;

    .social-wrapper {
        font-size: 16px;
        color: $slate-gray;

        span {
            margin-right: 20px;
        }
    }

    .button-wrapper {
        & > * {
            margin-left: 27px;
        }
    }

    .LikeButton {
        $height: 29px;
        height: $height;
        width: 88px;
        line-height: $height;
        padding: 0;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
    }
}

.AddToButton {
    color: $slate;
    text-transform: uppercase;
    font-size: 12px;

    i {
        margin-right: 5px;
    }
}

.ShareButton {
    color: $slate;
    text-transform: uppercase;
    font-size: 12px;

    i {
        margin-right: 5px;
    }
}

.LikeButton {
    i {
        margin-right: 3px;
    }
}

.ProjectsSlider {
    $padding: 19px;
    $height: 118px;

    /*border-bottom: 1px solid $silk-white;*/
    border-top: 1px solid $silk-white;
    height: $padding*2 + $height + 4;
    /*margin-bottom:30px;*/
    overflow: hidden;
    padding-bottom: $padding;
    padding-top: $padding;
    /*position: relative;*/
    /*top: 9px;*/

    .slick-arrow {
        top: 80px;
        z-index: 99;
        &:before {
            display: none;
        }
    }

    .slide-wrapper {
        height: $height;
        width: 155px;

        &.slick-active {
            margin-right: 6px;
        }
    }

    .slick-slide img {
        width: 100%;
    }

    .NextArrow {
        right: 4px;

        .active {
            display: none;
        }

        &:hover {
            .normal {
                display: none;
            }
            .active {
                display: block;
            }
        }
    }

    .PrevArrow {
        left: 5px;

        .active {
            display: none;
        }

        &:hover {
            .normal {
                display: none;
            }
            .active {
                display: block;
            }
        }
    }
}

.DetailsMeta {
    $left-width: 224px;
    color: $slate-gray;
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    box-shadow: 0 -3px 0 0 #f4f4f4, 0 0 9px -1px #c1c1c1;
    margin-left: -$project-details-modal-padding-horiz;
    margin-right: -$project-details-modal-padding-horiz;
    margin-bottom: 14px;
    padding-top: 35px;
    padding-bottom: 25px;

    .left {
        position: relative;
        left: $project-details-modal-padding-horiz;
        width: $left-width;
        justify-self: flex-start;
    }

    .right {
        position: relative;
        right: $project-details-modal-padding-horiz;
        justify-self: flex-end;
        width: 437px;
    }

    .content-wrapper {
        .heading {
            @extend %heading;
        }
    }

    .description {
        min-height: 76px;
    }

    // RevealText has nested p, either combo is possible, exclusively
    p.description, 
    .description p {
        color: $graphite;
        line-height: 1.4;
        letter-spacing: .3px;
        margin-bottom: 10px;
    }

    .category {
        $height: 38px;
        height: $height;
        line-height: $height;
        padding-left: 13px;
        border: 1px solid $silk-white;
        margin-bottom: 26px;
        width: 224px;

        span {
            color: $slate;
        }
    }

    .Tags {
        width: $left-width;

        .heading {
            padding-bottom: 0;
        }
        .tags {
            line-height: 2.1;
        }
    }

    .Licenses {
        border-top: 1px solid $silk-white;
        padding-top: 20px;

        img {
            opacity: .35;
            width: 16px;
            margin-right: 9px;
        }
    }
}


