.ProjectUploadsView {
    max-width: 775px;
    margin: 0 auto;
    padding-top: 20px;

    label {
        font-size: 18px;
        font-weight: 300;
        color: $graphite;

        &.underline {
            @extend %heading;

            display: block;
            font-size: 18px;
            color: $graphite;
        }
    }

    select,
    textarea,
    input {
        border-radius: 2px !important;
    }

    .form-group {
        margin-top: 22px;
        margin-bottom: 0;

        .dropdown-border {
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-border-radius: 0px;
            border-radius: 2px;
            background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
            background-position: 99% 50%;
            background-repeat: no-repeat;
            background-size: 16px;
        }

        .form-control {

            &::placeholder {
              color: $light-gray;
            }
        }

        .Select-control,
        .react-tagsinput {
          border-radius: 2px;
        }
    }

    .remove-background {
        background: none;
    }

    .upload-wrapper {
        margin-top: 52px;
    }

    .uppy-Dashboard-inner {
        width: 100%;
        background-color: white;
        border-color: #b9b9b9;
        border-radius: 2px;
    }

    .controls-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 75px;

        button {
            margin-left: 16px;
            font-size: 14px;
            font-weight: 300;
            height: 33px;
            line-height: 33px;
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 0;
            font-weight: 400;
        }
    }

    .radio-select {
        label {
            font-weight: 300;
        }

        .form-check {
            padding-left: 0;
        }

        .form-check-label {
            font-size: 14px;
            color: $light-gray;
            display: flex;
            align-items: center;
        }

        .form-check-input {
            position: relative;
            top: -2px;
            margin-top: 0;
            margin-left: 0;
            margin-right: 14px;
        }
    }
}

.UserLayout {
}
