.RecommendedUsers {
    width: 100%;
    padding: 40px 12px;

    hr {
        width: 435px;
        margin: 0 auto;
    }

    .heading {
        color: $wtf-red;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }

    .location-selectors {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 570px;
        margin: 0 auto;

        select {
            width: 170px;
            font-size: 14px;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }

    .users {
        height: 520px;
        overflow-y: scroll;
    }

    .user {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $bone-white;
        display: flex;
        justify-content: space-between;
    }

    .user-details {
        display: flex;

        .Avatar {
            .avatar-image {
                width: 73px;
                height: 73px;
            }
        }

        .left {
            margin-right: 30px;
        }

        .name {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
        }

        .meta {
            font-size: 14px;
            color: $light-gray;
            font-weight: 300;
        }

        .follow {
            background-color: $lime-green;
            border: 0 none;
            border-color: none;
            border-radius: 3px;
            color: $white;
            height: 25px;
            width: 72px;
            line-height: 14px;
            font-size: 12px;
        }
    }

    .projects {
        img {
            width: 102px;
            height: 72px;
            object-fit: cover;
            object-position: center;
            overflow: hidden;

            &:not(:last-of-type) {
                margin-right: 11px;
            }
        }
    }
}
