.ResumeUploadView {

  .dropzone {
    width: 100%;
    height: 100px;
    border: dashed #CED4DA 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #CED4DA;

      .fa-cloud-upload-alt {
        align-self: center;
        font-size: 30px;
        margin-bottom: 8px
      }

      .upload-project-text {
        align-self: center;
      }
  }

  .main-header {
    width: 70%;
  }

  .second-header {
    width: 5%;
  }

  .action {
    text-align: center;
  }


  .work-table {
    margin-top: 50px;
  }

  Table, tr, th, tbody, td {
    border: solid #CED4DA 1px;
    color: #CED4DA;
    width: 100%;
    height: 40px;

      th {
        padding-left: 10px;
        padding-top: 5px;
        color: #222529;
        font-size: 16px;
        font-weight: 300;
        width: 20px;
      }

      td {
        width: 20%;
        padding-left: 10px
      }

    }

      .fa-trash-alt {
        color: $wtf-red;
        display: flex;
        justify-content: center;

      }
}
