.registrationModal {
    .next-button {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 110px;
        height: 36px;
        line-height: 34px;
        background-color: $white;
        border-color: $light-gray;
        border-radius: 3px;
        color: $light-gray;
    }
}
