.SkillsView {

  .skills-form {
    width: 60%;
  }

  Input {
    margin-bottom: 10px;
  }

  Label {
    color: $graphite;
    font-size: 16px;
    font-weight: 300;
  }

  .fa-plus-circle {
    color: $wtf-red;
    float: right;
    cursor: pointer;
  }

}
