.TimelineView {
    @extend .with-sidebar;

    .page-content {
        max-width: 574px;
    }

    .recommended-wrapper {
        margin-top: 50px;
    }

    .heading { 
        width: 100%;
        text-align: center;
        color: $dove-gray;
        font-size: 14px;
        font-weight: 300;
    }
}
