.WorkExperienceView {

  .work-table {
    margin-top: 50px;
  }

  Table, tr, th, tbody, td {
    border: solid #CED4DA 1px;
    color: #CED4DA;
    width: 100%;
    height: 40px;

      th {
        padding-left: 10px;
        padding-top: 5px;
        color: #222529;
        font-size: 16px;
        font-weight: 300;
        width: 20px;
      }

      td {
        width: 20%;
        padding-left: 10px
      }

    }
      .fa-edit {
        color: #1E9C5A;
      }
      .fa-trash-alt {
        color: $wtf-red;
      }
}
