%flex-align-center {
    display: flex;
    align-items: center;
}

%heading {
    color: $slate;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 3px;
    border-bottom: 1px solid $silk-white;
    margin-bottom: 20px;
}

