// site

$white: #fff;
$off-white: #f1f1f1;
$ghost-white: #fcfcfc;
$silk-white: #e0e0e0;
$bone-white: #e1e1e1;
$alabaster: #fafafa;
$silver-chalice: #a1a1a1;

$navy-gray: #dddddd;
$light-gray: #b4b4b4;
$polished-gray: #b7b7b7;
$gunmetal-gray: #a7a7a7;
$slate-gray: #939393;
$emperor: #555555;
$slate: #2f2626;
$gray: #999;
$blue-gray: #dde5eb;
$dove-gray: #737373;
$silver: #cccccc;

$graphite: #5c5c5c;
$dark-gray: #666;
$oil-black: #111111;
$darkness: #1f1f1f;
$coal: #2f2f2f;

$prune: #2c2c41;

$redorange: #ff5a58;

$lime-green: #39bd4f;

$wtf-green: #30bf49;
$wtf-black: #0b0b0b;
$wtf-red: #ff0800;

$theme-colors: (
    primary: $dark-gray
);

// responsive

$breakpoints: (
    mobile: 720px,
    tablet: 721px,
    desktop: 1024px,
    large: 1280px
);

// component-related 

$navigation-height: 50px;
$nav-toggle-offset: 25px;
$mobile-logo-width: 30px;
$project-details-modal-padding-horiz: 33px;
$header-navigation-items-spacing: 30px;
$sidebar-width: 238px;
$pro-badge-width: 33px;
$base-font-size: 16px;
