$font-family-sans-serif: 'helvetica-neue',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,  Arial, sans-serif;
$font-size-base: .85rem ;
$link-color: $dark-gray;
$link-hover-color: $slate;
$link-hover-decoration: none;
$dropdown-bg: $white;
$red: $wtf-red;
$green: $wtf-green;
