body {
    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: $font-family-base;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }
}

// no highlights
*:focus {
    outline: none;
}

//Modals
.modal-content {
    border-radius: 0;
    border: 0 none;
}

.modal-backdrop.fade.show {
    opacity: .5 !important;
}

// keep nav links from dropdowns from disrupting the rest of the nav menus
.nav-link {
    padding: 0;
}

// add an arrow to the top of dropdowns
.left-arrow .dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 20px;
    position: absolute;
    top: -8px;
}

.left-arrow .dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 20px;
    position: absolute;
    top: -7px;
}

.right-arrow .dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 120px;
    position: absolute;
    top: -8px;
}

.right-arrow .dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 120px;
    position: absolute;
    top: -7px;
}

