.hidden {
    display: none;
}

.full-border {
    border-radius: $border-radius !important;
}

.force-red-hover{
    color: $slate;

    &:hover {
        color: $slate;
    }

} 

.force-black-hover{
    $color: $slate;

    color: $color;

    &:hover {
        color: $color;
    }

} 



