.Avatar {
    position: relative;
    border-radius: 50%;
    background-color: $white;

    .avatar-image {
        background-image: url(../../assets/images/avatar-male.png);
        background-color: $light-gray;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .ProBadge {
        position: absolute;
        left: -($pro-badge-width * .66);
        top: 50%;
        transform: translateY(-50%);
    }
}
