.CommentSubmission {
    margin-top: 15px;

    textarea {
        border: 1px solid $silk-white;
        max-width: 706px;
        width: 100%;
        padding-top: 3px;
        padding-left: 15px;
        padding-right: 15px;
        height: 100px;
        line-height: 1.8;
        resize: none;
        font-size: 15px;
        font-weight: 300;

        &::placeholder {
            padding-top: 1px;
            color: #bcc2c5;
        }
    }
}
