.Comment {
    width: calc(100% - 33px);
    padding-bottom: 7px;
    padding-top: 7px;

    &:not(:last-of-type) {
        border-bottom: 1px solid $silk-white;
    }

    .CommentHeading {
        margin-bottom: -4px;

        .Avatar {
            $width: em(38px);
            margin-right: 15px;
            width: $width;
            height: $width;

            .avatar-image {
                width: $width;
                height: $width;
            }
        }

        .fullname {
            margin-bottom: -6px;
            font-weight: 400;
            font-size: em(15px);
            color: #575656;
        }

        .date {
            font-size: em(11px);
            color: #a1a1a1;
            font-weight: 300;
        }

        .media-left {
            margin-top: 4px;
        }

        .media-body {
            display: flex;
            flex-direction: column;
        }
    }

    .CommentBody {
        margin-left: 49px;
        margin-top: 4px;

        p {
            font-size: em(14px);
            font-weight: 300;
            margin-bottom: 0;
        }

        .read-more {
            margin-left: 3px;
            font-size: em(12px);
            font-weight: 500;
        }
    }
}

