.CommentsList {
    $gutter: 33px;
    $height: 27em;

    margin-left: -$gutter;
    margin-right: -$gutter;
    padding: 0 $gutter;
    overflow: hidden;
    max-height: $height;

    .scroll-wrapper {
        max-height: $height;
        overflow-y: scroll;
        margin-left: -$gutter;
        margin-right: -$gutter;
        padding-left: $gutter;
    }

    .heading {
        @extend %heading;
        margin-bottom: 8px;
    }
}


