.Cropper {
    .rc-slider {
        margin: 0 auto 30px;
        width: 60%;
    }

    canvas {
        margin-bottom: 30px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 70%;

        .btn-secondary {
            background-color: $wtf-red;
            border-color: $wtf-red;
            border-radius: 2px;
        }
    }

    .btn-wrapper {
        button:nth-child(1),
        button:nth-child(2) {
            display: none;
        }
    }
}
