.DetailsHeader {
    .top-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $silk-white;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .bottom-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .media {
        justify-self: flex-start;

        .media-left {
            align-self: center;
            margin-right: 18px;

        }
    }

    .Avatar {
        $width: 37px;

        width: $width;
        height: $width;

        .avatar-image {
            width: $width;
            height: $width;
        }
    }

    .fullname {
        margin-bottom: -4px;
        font-size: 16px;
        font-weight: 400;
    }

    .meta {
        display: inline-block;
        font-size: 12px;
        color: $light-gray;

        .location {
            margin-left: 5px;
        }
    }

    .FollowConnectButton {
        font-size: 10px;
        justify-self: flex-end;
        left: 1px;
        position: relative;
        text-transform: uppercase;
        width: 90px;
    }

    .title {
        font-size: 14px;
        font-weight: 500;
        width: 362px;
        line-height: 1.3;
    }

    .stats {
        color: $slate;

        span {
            margin-left: 9px;
        }

        i {
            margin-right: 3px;
        }

        .shares {
            margin-right: 3px;
        }
    }
}


