.EditButtonModal {
}

.SelectButtonView {
    //asdf
    .modal-body {
        & > button  {
            margin-bottom: 0;
            margin-top: 0 !important;
            border: 1px solid $coal;
            color: $black;
            border-radius: 0;
        }
    }
}
