.FollowingFollowers {
    .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            list-style: none;
            font-size: 18px;
            color: $gray;
            font-weight: 400;

            &.active {
                color: $emperor;
            }
        }
    }

    .input-wrapper {
        display: flex;
        position: relative;

        .WithInputTimeout,
        input {
            border-radius: 0;
            width: 100%;
        }

        i {
            $width: 15px;
            $padding: 11px;
            width: $width;
            position: absolute;
            left: calc(100% - #{$width} - #{$padding});
            top: 50%;
            transform: translateY(-50%);
            color: $bone-white;
        }
    }

    .users-list {
        height: 290px;
        overflow-y: scroll;
        margin-top: 10px;
    }

    .followers,
    .following {
        margin-top: 20px;
    }

    .UserEntry {
        display: flex;
        align-items: center;

        &:not(:first-of-type) {
            margin-top: 24px;
        }

        .avatar-image {
            width: 55px;
            height: 55px;
        }

        .media-left {
            margin-right: 24px;
        }

        .media-body {
            padding-right: 24px;
        }

        .fullname-wrapper {
            display: flex;

            font-size: 16px;
            font-weight: 300;
            line-height: 1;
        }

        .media-heading {
            margin-bottom: 0;
        }

        .online-wrapper {
            margin-left: 7px;
        }

        .ProBadge img {
            width: 24px;
            margin-left: 10px;
        }

        .meta {
            font-size: 12px;
            color: $gray;
        }
    }
}

