.HeaderNavigation {
    @extend %flex-align-center;

    box-shadow: 0 -5px 20px $slate;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;

    ul {
        margin-bottom: 0;
    }

    li {
        margin-right: $header-navigation-items-spacing;
        display: inline;
        list-style: none;
        text-transform: uppercase;
    }

    .StyleWrapper {
        @extend %flex-align-center;

        flex-direction: row;
        height: $navigation-height;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;

        &.no-auth {
            justify-content: flex-start;
        }
    }

    .Logo { 
        .non-mobile {
            display: none;
            width: 75px;
        }

        .mobile {
            width: $mobile-logo-width;
        }

        @include mq(tablet) {
            .non-mobile {
                display: block;
            }

            .mobile {
                display: none;
            }
        }
    }

    .DesktopNavChoices {
        display: none;
        align-items: center;

        @include mq(tablet) {
            display: flex;
            margin-left: 40px;
            width: 530px;
        }

        .desktop-nav-list {
            @extend %flex-align-center;
        }

        .dropdown-menu {
            top: 20px !important;
        }
    }

    .DesktopSearch {
        .search-revealed {
            display: block;
        }

        .search-hidden {
            display: none;
        }
    }

    .LoginButtons {
        justify-self: flex-end;
    }
}
