.LookbookEntry {
    color: $slate;
    position: relative;

    .media-left {
        margin-top: 4px;

        .Avatar {
            $width: 38px;
            margin-right: 12px;
            width: $width;
            height: $width;

            .avatar-image {
                width: $width;
                height: $width;
            }
        }
    }

    .entry-heading {
        position: relative;
        padding: 0 10px;
        z-index: 0;
    }

    .content-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .media-heading {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 0;
    }

    .fullname {
        margin-bottom: -6px;
        font-weight: 500;
        font-size: 12px;
        color: #575656;
    }

    .profession {
        font-size: 11px;
        color: $silver-chalice;
        font-weight: 300;
    }

    .title {
        margin-top: 9px;
        font-size: 12px;
        color: #757575;
    }

    .stats {
        font-size: 12px;
        color: $slate;
        font-weight: 500;

        i {
            font-weight: 100;
            padding-right: 2px;
        }
    }

    img {
        max-width: 270px;
        width: 100%;
        margin-top: 9px;
    }

    .overlay-wrapper {
        width: 100%;
        position: relative;

        .overlay {
            align-items: center;
            background-color: rgba(255,255,255,.9);
            bottom: 0;
            color: $slate;
            display: flex;
            height: 30px;
            justify-content: space-between;
            left: 0;
            opacity: 0;
            padding: 0 33px;
            position: absolute;
            transition: opacity .3s;
            width: 100%;

            i {
                transition: color .3s;
            }

            i:hover {
                color: darken($slate, 5%);
            }
        }

        .overlay.active,
        &:hover .overlay {
            opacity: 1;
        }
    }

}

.add-to-wrapper {
    position: relative;
    top: 8px;
    background-color: white;
    padding: 10px 10px 18px 10px;
    box-shadow: 1px 3px 3px 0px #e4e4e4, 0px 0px 4px 0px #e4e4e4;
    z-index: 99;

    .heading  {
        color: $slate;
        border-bottom :1px solid #f5f5f5;
    }

    .search {
        margin-top: 14px;
        input {
            height: 22px;
            border-color: #d7d7d7;
            border-radius: 3px;

            &:placeholder {
                color: #b4b4b4;
            }
        }
    }

    .sets-list {
        min-height: 16px;
    }

    .new-set {
        span {
            font-size: 12px;
            color: #5c5c5c;
        }
    }

    &:before {
        border-bottom: 9px solid rgba(0, 0, 0, 0.2);
        border-left: 9px solid rgba(0, 0, 0, 0);
        border-right: 9px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        top: -8px;
    }
    &:after {
        border-bottom: 8px solid #FFFFFF;
        border-left: 9px solid rgba(0, 0, 0, 0);
        border-right: 9px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        top: -7px;
    }
}
