.LookbookViewModal {
    max-width: 970px;
    width: 100%;

    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .LookbookEntry {
        width: 212px;
    }
}
