.ToggleButton {
    position: absolute;
    right: $nav-toggle-offset;
    top: calc(#{$navigation-height} / 5);
    font-size: 1.25rem;
}

.OffCanvasMenu {
    z-index:99;
    $width: 250px;

    height: calc( 100vh - #{$navigation-height} );
    position: absolute;
    top: 0;
    width: $width;
    background-color: $prune;
    transition: all .5s;

    &.menu-hidden {
        left: -$width;
    }

    &.menu-revealed {
        left: 0;
    }

    ul {
        padding: 0;

        & > li:hover:not(.submenu) {
            background-color: lighten($prune, 5%);
        }
    }

    a {
        color: $ghost-white;
        font-size: 1.3rem;
        font-weight: 500;

        &:hover {
            color: $ghost-white;
        }
    }

    li {
        $item-height: 65px;
        @extend %flex-align-center;

        width: $width;
        height: $item-height;
        padding: 15px;
        padding-left: 32px;
        list-style: none;
        justify-content: flex-start;
        border-bottom: 1px solid darken($prune, 5%);

    }


    .submenu {
        height: inherit;
        display: none;
        padding: 0;

        li {
            padding: 15px 0 15px 60px;
        }

        li:last-of-type {
            border: 0 none;
        }

        &.isVisible {
            display: block;
        }
    }
}
