.NavIcons {
    $icons-padding: 15px;

    align-items: center;
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    position: relative;
    padding-right: $icons-padding;
    width: calc(100% - #{$nav-toggle-offset} - #{$icons-padding}*2 - #{$mobile-logo-width});
    font-size: 1.5rem;

    @include mq(tablet) {
        justify-content: flex-end;
        width: inherit;
        font-size: 1rem;
        right: inherit;

        .icon:not(:last-of-type) {
            margin-right: $icons-padding;
        }
    }

    .avatar {
        width: $navigation-height * .75;
    }

    .dropdown-menu {
        visibility: hidden;

        @include mq(tablet) {
            visibility: visible;
            top: 50px !important;
            left: -113px !important;
            transform: none !important; // prevent js from scooting this around with translate 3d
        }
    }
}


