.Notification {
    .media {
        display: flex;
        align-items: center;
    }

    .media-heading {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .media-body {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }

    .avatar-image {
        width: 58px;
        height: 58px;
    }

    .heading-wrapper {
        display: flex;
    }

    .ProBadge {
        margin-left: 10px;

        img {
            width: 20px;
            height: auto;
        }
    }

    .description {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 200;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .timestamp {
        font-size: 12px;
        font-weight: 200;
        color: $gray;
    }
}
