.ProfileBanner {
    $card-height: 240px;
    $padding: 100px;
    $height: $padding*2 + $card-height;

    height: $height;
    /*padding: 32px 0;*/
    width: 100%;
    position: relative;

    &:before{
        background-image: url(../../assets/images/banner-bg-placeholder.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        content: " ";
        display: block;
        filter: brightness(80%);
        height: 100%;
        width: 100%;
    }

    @include mq(tablet) {
        height: 400px;
    }

    .profile-content-wrapper {
        position: absolute;
        top: calc(50% + 32px);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .MyAccountLink {
        $diameter: 28px;
        $border: 4px;

        position: absolute;
        top: -43px;
        right: 0;
        border-radius: $diameter / 2;
        width: $diameter;
        height: $diameter;
        background-color: rgba($white, .9);
        border-color: $polished-gray;

        a {
            $inner-width: $diameter - $border*2;

            position: absolute;
            top: $border;
            left: $border;
            height: $inner-width;;
            width: $inner-width;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: $inner-width;
                width: $inner-width;
            }
        }
    }

    .ProfileCard {
        $width: 375px;

        background-color: rgba($white, .9);
        border-radius: 5px;
        height: $card-height;
        width: $width;

        .content-wrapper {
            position: absolute;
            top: calc(50% - 15px);
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .Avatar {
            $diameter: 137px;
            $border: 3px;

            margin: 0 auto;
            position: relative;
            top: -$diameter/2;
            width: $diameter;
            height: $diameter;

            .avatar-image {
                position: relative;
                border-radius: 50%;
                top: $border;
                left: $border;
                height: $diameter - $border*2;
                width: $diameter - $border*2;
            }
        }

        .UserFullName {
            color: $slate;
            text-align: center;
            font-weight: 500;
            font-size: 1.5rem;
        }

        .UserMeta {
            color: $light-gray;
            margin-top: 10px;
            text-align: center;
            font-weight: 100;

            .user-type {
                margin-right: 10px;
            }

            .location {
                i {
                    margin-right: 10px;
                }
            }
        }

        .card-buttons {
            $button-width: 100px;

            margin-top: 20px;
            text-align: center;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;

            > * {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
            
            button:not([aria-haspopup="true"]):not(.dropdown-item),
            button.ellipses {
                padding: .5rem 0;
                text-align: center;
                width: $button-width;

                &.ellipses {
                    padding: .5rem 0;
                    width: inherit;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            $padding: 7px;

            button#caret {
                padding-left: 15px;
                width: $button-width - $padding*2;
            }

            button#caret + .dropdown-toggle {
                padding-left: $padding;
            }
        }
    }

    .ProfileMeta {
        color: $ghost-white;
        margin-top: 12px;
        text-align: center;
        font-weight: 100;

        .top span:not(:last-of-type) {
            margin-right: 30px;
        }

        .bottom {
            margin-top: 6px;

            span:not(:last-of-type) {
                margin-right: 15px;
            }
        }

        span i {
            margin-left: 5px;
        }
    }
}


