.ProfileContent {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: $ghost-white;

    & > .content-wrapper {
        background-color: $white;
        padding-top: 20px;
        overflow: hidden;
        width: 100%;
    }
}

