.ProfileNav {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid $bone-white;
    padding-top: 27px;
    padding-bottom: 14px;
    background-color: $white;

    .nav-items {
        @extend %flex-align-center;
        justify-content: space-evenly;
        margin-bottom: 0;
        padding-left: 0;

        .item {
            color: #999;
            font-size: 18px;
            list-style: none;
            font-weight: 300;
        }

        a:hover,
        a.active {
            color: $slate !important;
            position: relative;

            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 32px;
                transform: translateX(-50%);
                left: 50%;
                width: 10px;
                height: 10px;
                background-color: $wtf-red;
                border-radius: 100%;
            }
        }
    }
}
