.ProjectEntry {
    $side: 275px;

    width: $side;
    height: $side;
    background-size: cover;

    &.img-wrapper {
        position: relative;
        width: $side;
        height: $side;
        /*margin-bottom: 15px;*/

        &:hover .overlay {
            opacity: 1;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color:white;
        height: $side;
        width: $side;
        transition: all .3s;
        padding: 15px;

        .stats span {
            margin-right: 8px;
        }

        .description {
        }

        .heading {
            color: $slate;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .meta {
            position: absolute;
            bottom: 15px;
            font-size: 12px;
            color: $gray;
            width: calc(100% - 30px);
            left: 50%;
            transform: translateX(-50%);

            .category {
                float: left;
            }

            .stats {
                float: right;
            }
        }
    }
} 

