.ProBadge {
    visibility: hidden; // default
    z-index: 99;

    &.is-visible {
        visibility: visible;
    }

    img {
        width: $pro-badge-width;
    }

    &.small {
        $pro-badge-width: em(16px);

        left: -5px;
        top: 10px;
        position: absolute;
        border-radius: 20px;
        width: $pro-badge-width;
        height: $pro-badge-width;
        background-color: $redorange;
        color: $white;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        line-height: $pro-badge-width;

        img { 
            display: none;
        }
    }
}
