.RelatedProjects {
    border-top: 1px solid $silk-white;
    margin-top: 18px;
    padding-top: 18px;

    & > .heading {
        font-size: 13px;
        color: #999999;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1.13px;
        margin-bottom: 0;
    }

    hr { 
        height: 2px;
        width: 45px;
        background-color: #dddddd;
        border: 0 none;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    ul li {
        list-style: none;
    }

    span {
        width: 100%;
        display: block;
    }

    .content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .ProjectEntry {
            $width: 218px;

            position: relative;
            width: $width;
            height: $width;
            overflow: hidden;
            margin-bottom: 25px;

            .overlay {
                width: $width;
                height: $width;
            }
        }
    }
}

