.RevealText {
    p {
        span {
            font-weight: bold;
            font-size: .8em;
        }

        &.revealed {
            span {
                margin-left: 10px;
            }
        }
    }
}
