.SidebarNav {
    min-width: $sidebar-width;
    .nav { width: 100% }

    // divider
    border-right: 1px solid $bone-white;

    .nav-item {
        margin-bottom: 30px;

        a {
            font-size: 20px;
            color: $gray;
            font-weight: 300;
            top: 5px;
            position: relative;
        }
    }

    // active bg 
    a.active {
        background-color: #f9f9f9;
    }

    //	navitems marker
    a:hover,
    a.active {
        color: $slate !important;
        position: relative;
        width: 100%;
        display: inline-block;

        &:after {
            $width: 8px;

            content: " ";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: calc(100% - #{$width} / 2);
            width: $width;
            height: $width;
            background-color: red;
            border-radius: 100%;
        }
    }
}

