.TimelineWritePost {
    @extend .timeline-widget;
    padding-bottom: 38px;

    textarea {
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }

    .button-wrapper {
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
    }
}
