.TimelinePost {
    @extend .timeline-widget;
    margin-top: 28px;
    margin-bottom: 36px;

    // TODO: make sure this is being toggled by posts with no cover image
    &.no-cover {
        .content {
            border-top: 1px solid $timeline-widget-border-color;
        }
    }

    .date {
        text-align: center;
        color: $dove-gray;
        font-size: 14px;
        font-weight: 300;
    }

    .image {
        overflow: hidden;
        border-top-left-radius: $timeline-widget-border-radius;
        border-top-right-radius: $timeline-widget-border-radius;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .content {
        padding-top: 14px;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 28px;
        border-left: 1px solid $timeline-widget-border-color;
        border-right: 1px solid $timeline-widget-border-color;
        border-bottom: 1px solid $timeline-widget-border-color;
        border-radius: $timeline-widget-border-radius;
        background-color: $alabaster;
    }

    .controls {
        margin-top: 16px;

        .PostControls {
            padding-right: 16px;
        }

        .Comment {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.05em;
        }

        .CommentsList {
            padding: 0;
            margin: 0;

            .CommentBody .content-wrapper {
                padding: 0;
                margin: 0;
            }
        }

        .visibility-wrapper .content-wrapper {
            display: flex;
            padding-left: 19px;
            padding-right: 20px;
            padding-top: 16px;

            .Avatar {
                margin-right: 11px;

                .avatar-image {
                    width: 36px;
                    height: 36px;
                }
            }

            .PostCommentsSubmission {
                flex-grow: 1;
                padding-bottom: 12px;
            }
        }
    }
}

.PostControls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * {
        margin-left: 10px;
    }
}

.PostUserHeading {
    .media-left {
        margin-top: 4px;

        .Avatar {
            $width: 38px;
            margin-right: 12px;
            width: $width;
            height: $width;

            .avatar-image {
                width: $width;
                height: $width;
            }
        }
    }

    .media-heading {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-bottom: 0;
    }

    .fullname {
        color: $slate;
        font-size: 16px;
        font-weight: 500;
    }

    .meta {
        color: $silver-chalice;
    }
}

.PostMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PostStats {
    color: $slate;

    i {
        margin-left: 12px;
    }
}

.LikeItem {
    @extend .force-black-hover;
}

.TriggerComment {
    @extend .force-black-hover;
}

.ShareItem {
    @extend .force-black-hover;
    text-transform: uppercase;
    font-size: 12px;

    i {
        padding-right: 7px;
    }

    &.icon-only {
        span {
            display: none;
        }

        i {
            padding-right: 0;
        }
    }
}
