.WrapWithModal {
    max-width: 770px;
    position: relative;
    overflow: hidden;

    .CloseButton {
        position: absolute;
        top: 6px;
        right: 8px;
        display: block;
        z-index: 1;

        i {
            color: $silk-white;
        }
    }

    .modal-body {
        @extend %flex-align-center;
        width: 100%;
        padding: 24px $project-details-modal-padding-horiz 35px $project-details-modal-padding-horiz;
    }

    .modal-content {
        @extend %flex-align-center;
    }
}
