.HomePageLayout{
    .SearchBar {
        .login {
            position: absolute;
            top: 22px;
            right: 96px;
            font-weight: 100;
            z-index: 2;

            a {
                font-size: 18px;
                color: rgba($white, .8);

                &:hover {
                    color: $white;
                }
            }
        }

        .search-bar-container {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: fixed;
            margin-left: 114px;
            z-index: 2;

            .logo {
                width: 67px;
                height: 18px;
            }

            .input-wrapper {
                position: relative;
                margin-left: 10px;
            }

            .search-bar {
                width: 543px;
                height: 36px;
                background-color: rgba($ghost-white, .2);
                color: $ghost-white;
                border: 0 none;
                padding-left: 36px;


                &::placeholder {
                    color: rgba($ghost-white, .4);
                    font-family: "helvetica-neue";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 46px;
                }

            }

            .search-bar-black {
                width: 543px;
                height: 36px;
                background-color: black;
                color: $ghost-white;
                border: 0 none;
                padding-left: 36px;
                opacity: .28;

                &::placeholder {
                    color: rgba($ghost-white, .4);
                    font-family: "helvetica-neue";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 46px;
                }

            }

            .search-glass-icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 13px;
                height: 16px;
                width: 16px;
                opacity: .28;
            }
        }
    }

    .black {
        opacity: .4;
    }

    .dot-navigation-bar {
        left: 40px;
        position: fixed;
        top: 50%;
        z-index: 2147483643;
        transform: translateY(-50%);
    }

    .dot {
        border-radius: 50%;
        cursor: pointer;
        height: 16px;
        margin-bottom: 10px;
        opacity: .4;
        position: relative;
        width: 16px;
        box-sizing: border-box;
    }


    .active {
        background: black;
    }

    .active-white {
        background: white;
    }

    .dot-color-white {
        box-shadow: inset 0 0 0 3px #fff;
    }

    .dot-color-black {
        box-shadow: inset 0 0 0 3px black;
    }

    .first {
        z-index: 1;
        position: relative;
    }

    .second {
        z-index: 0;
        position: fixed;
    }

    .third {
        z-index: -1;
        position: relative;
    }

    .fourth {
        z-index: -2;
        position: relative;
    }

    .fifth {
        z-index: -3;
        position: relative;
    }

    .sixth {
        z-index: -4;
        position: relative;
    }

    .first-slide-component {
        background-image: url('./assets/images/landing-page-crop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .title-text {
            height: 180px;

            .hashtag {
                color: $wtf-red;
                font-family: 'helvetica-neue';
                font-weight: 900;
                font-size: 180px;
                font-style: normal;
            }

            .we-the-fashion {
                font-family: 'helvetica-neue';
                font-weight: 900;
                font-size: 140px;
                font-style: normal;
                color: white;
                letter-spacing: -12px;
            }

        }



        .second-text-container {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .get-closer-text {
                color: white;
                font-family: 'helvetica-neue';
                font-weight: 500;
                font-style: normal;
                font-size: 50px;
                letter-spacing: -2px;

            }

        }

        button {
            margin-top: 60px;
            background-color: $wtf-red;
            color: white;
            border-color: $wtf-red;
            height: 50px;
            width: 200px;
            font-family: 'helvetica-neue';
            font-size: 20px;
            font-style: normal;
            letter-spacing: -1px;
            align-self: center;
        }


    }

    .landing-page-component {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .page-header-text {
            margin-top: 97px;
            width: 679px;
            font-family: "helvetica-neue";
            font-size: 53px;
            font-weight: 400;
            line-height: 51.41px;
            letter-spacing: -5.4px;
            color: $coal;
            margin-bottom: 39px;
        }

        .description-text {
            width: 650px;
            height: 60px;
            font-family: "helvetica-neue";
            font-size: 20px;
            font-weight: bold;
            // line-height: 43.23px;
            letter-spacing: -1.5px;
            color: $coal;
        }

        .footer-image {
            background-image: url('./assets/images/vectorstock-15591058-copy-2.png');
            width: 100vw;
            height: 129px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: absolute;
            bottom: 0px;
        }

        .footer-container {
            display: flex;
            align-items: center;
        }

        .footer-text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 262px;
            height: 43px;
            background-color: #000000;
            color: white;
        }
    }

    .profile-landing-page {
        display: flex;
        flex-direction: column;

        .profile-landing-page-header-text {
            margin-top: 150px;
            margin-left: 152px;
            margin-bottom: 27px;
            color: $coal;
            font-family: "helvetica-neue";
            font-size: 53px;
            font-weight: 500;
            line-height: 43.8px;
            letter-spacing: -5px;
        }

        .profile-landing-page-description-text {
            margin-left: 152px;
            font-family: "helvetica-neue";
            color: $coal;
            font-size: 20px;
            font-weight: 400;
            line-height: 28.23px;
            letter-spacing: -1.5px;
        }

    }

    .HomePageLayout {
        font-family: 'helvetica-neue';
        font-weight: 900;
        font-style: normal;

    }

    .footer-image {
        background-image: url('./assets/images/vectorstock-15591058-copy-2.png');
        width: 100vw;
        height: 129px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        bottom: 0px;

        .footer-container {
            display: flex;
            align-items: center;
        }

        .footer-text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 262px;
            height: 43px;
            background-color: #000000;
            color: white;
        }
    }

}
