.UserEditLayout {
    $padding: 66px;
    $page-width: 1280px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 75px;

    // NOTE: the page-width must add up to 1280px to match navigation header

    @include mq(tablet) {
        padding-top: 56px;
        height: calc(100vh - #{$navigation-height});
    }

    .content-wrapper {
        padding-left: $padding;
        padding-right: $padding - $header-navigation-items-spacing;
        max-width: calc(#{$page-width} - #{$sidebar-width});
        min-width: 400px;
        width: 100%;
    }
}
